[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
numpy = "*"
asyncio = "*"
aiolimiter = "*"
tqdm = "*"
python-dotenv = "*"
tiktoken = "*"
pandas = "*"
nltk = "*"
matplotlib = "*"
scikit-learn = "*"
seaborn = "*"
unidecode = "*"
wordcloud = "*"
aiolimiter = "*"

[dev-packages]

[requires]
python_version = "3.12"
